body {
  margin: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

.shop-nav {
  background-color: #293449;
}

.main-header {
  background-color: #f4f7f9
}

.user-bookmarks,
.site-nav {
  margin: 0;
  list-style: none;
}

.logo a {
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.orders a,
.account a,
.logout a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.enter a,
.registration a {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #000000;
  background-color: #fff;
  text-decoration: none;
}


.checkout a {
  background-color: #63a63e;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:focus {
  background-color: #518534;
}

.bookmarks a:hover,
.basket a:hover {
  background-color: #212a3a;
}

.bookmarks a:focus,
.basket a:focus {
  background-color: #161d29;
}

.user-bookmarks a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
}

.header-description {
  color: #ee3643;
  font-size: 16px;
  font-weight: 400;
  width: 196px;
  font-style: italic;
  line-height: 23px;
}

.telephone {
  color: #ee3643;
  font-size: 21px;
  line-height: 1;
  text-decoration: none;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.orders a:hover,
.account a:hover {
  color: #ee3643;
}

.profile-name a:focus,
.orders a:focus,
.account a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header-address {
  line-height: 24px;
}

.profile-name a {
  color: #000;
  font-size: 21px;
  line-height: 21px;
  text-decoration: none;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.site-nav li {
  display: inline;
}

.site-nav a,
.current-page {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.site-nav a:hover {
  background-color: #293449;
}

.site-nav a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  font-family: 'PT Sans', Arial, sans-serif;
}

.content-title {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter fieldset {
  border: none;
}

.filter ul {
  list-style: none;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.filter legend {
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
}

.content ul {
  list-style: none;
}

.filter-button {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-name a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  font-family: 'PT Sans', Arial, sans-serif;

}

.catalog-item-price {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.price {
  text-decoration: line-through;
  color: #999999;
}

.sell-price {
  text-decoration: none;
  color: #fff;
  background-image: url(../img/btn-copy-14.svg);
}

.hidden-buttons a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
}

.buy-catalog-button {
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  color: #fff;
}

.buy-catalog-button:hover {
  background-color: #5fbb2d;
}

.buy-catalog-button:focus {
  background-color: #518534;
}

.bookmarks-catalog-button {
  border: 3px solid #63a63e;
  border-radius: 10%;
  color: #32425c;
}

.bookmarks-catalog-button:hover {
  border: 3px solid #32425c;
}

.bookmarks-catalog-button:focus {
  opacity: 0.3;
}

.about-title,
.contacts-title {
  font-size: 30px;
  line-height: 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  color: #000000;
  font-weight: 400;
}

.about-decription,
.contacts-description {
  font-size: 13px;
  line-height: 24px;
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;
}

.advantages li {
  font-size: 18px;
  line-height: 20px;
  color: #000;
  list-style: none;
}

.button {
  text-decoration: none;
  color: #fff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.upper-footer {
  background-color: #32425c;
  color: #fff;
}

.footer-site-nav li,
.footer-shop-nav li {
  list-style: none;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
}

.footer-site-nav a {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-site-nav a:hover,
.footer-shop-nav a:hover,
.feedback a:hover,
.developed a:hover {
  text-decoration: underline;
}

.footer-site-nav a:focus {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-shop-nav a:focus {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.feedback a:focus,
.developed a:focus {
  color: #ee3643;
  text-decoration: none;
}

.footer-shop-nav a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.feedback a,
.developed a {
  color: #ffd180;
  text-decoration: none;
}

.feedback,
.developed,
.copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  background-color: #293449;
  color: #fff;
}

.social-links li {
  list-style: none;
}

.social-links a {
  text-decoration: none;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 940px;
  display: flex;
  align-items: center;
}

.for-client {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-bookmarks {
  width: 435px;
}

.search {
  width: 270px;
}
